.footer {
	background: #453e53;
	color: #9083aa;
	font-size: 0.7rem;
	justify-content: center;
	text-align: center;
	margin: auto;
	max-height: 30px;
	min-height: 30px;
	display: flex;
	width: 100%;
	flex: 0 1 40px;
	vertical-align: middle;
	line-height: 30px;
}